// gogle fonts:
@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Righteous');

$projects-overview: 'Mali';
$project-name: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$description: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$heading: Righteous;
