@import '../mixins/background.scss';
@import '../mixins/flex.scss';

.contributors {
    @include background();
    background-image: url('./assets/wall.png');

    background-color: green;
    background-blend-mode: luminosity;

    flex-direction: column;
    justify-content: center;

    #description {
        text-align: center;
        color: white;
        text-shadow: 2px 2px black;
        font-size: 2em;
        font-family: $heading;
        margin: 10px;
    }

    #list {
        width: 10em;
        @include flex();
        flex-direction: row;
        justify-content: space-evenly;

        .avatar > img {
            background-color: yellow;
            height: 3em;
            border-radius: 50%;
        }
    }

    .contributor {
        color: white;
    }
}