@import '../mixins/background.scss';
@import '../mixins/maximum.scss';
@import '../colors.scss';

.example {
    background-color: $blue;

    flex-direction: row;

    #canvas {
        height: 100%;
        width: 50%;
        background-color: #888888;
    }

    .vis {
        background-color: blue;
        height: 100%;
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .example {
        display: none !important;
    }
}
