// data:
@import '../fonts.scss';

// mixins:
@import '../mixins/background.scss';

.top {
	@include background();
	background-image: url('./assets/wall.png');
}

.logo {
	width: 33vh;
	display: block;
}

.description {
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
	font-size: 3em;
	font-family: $heading;
	margin: 10px;
}
