// data:
@import '../fonts.scss';

// mixins:
@import '../mixins/background.scss';
@import '../mixins/description.scss';

.top {
    @include background();
    background-image: url('./assets/wall.png');
}

.logo {
    width: 33vh;
    display: block;
}

.description {
    @include description();
}
